.app {
	display: grid;
	grid-template-columns: 256px 1fr;
	grid-template-rows: 64px 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'header header'
		'sidebar main';
	min-height: 100vh;
}

.app__header {
	grid-area: header;
	background: olive;
}

.app__sidebar {
	grid-area: sidebar;
	background: orange;
}

.app__main {
	grid-area: main;
	background: lightgoldenrodyellow;
}
